## https://direnv.net/

_PWD=$(pwd)

[ -f .env ] && source .env || { echo "Missing .env!"; exit 1; }
## Export all VARS in .env
ALL_ENV_PRJ_VARS=($(grep -E '^[[:space:]]*[A-Z_][A-Z0-9_]*[[:space:]]*=' .env | cut -f1 -d"=" | tr '\n' ' '))
for idx in "${!ALL_ENV_PRJ_VARS[@]}"; do
  # echo "idx: $idx :: ${ALL_ENV_PRJ_VARS[idx]}=${!ALL_ENV_PRJ_VARS[idx]}"
  eval "export ${ALL_ENV_PRJ_VARS[idx]}='${!ALL_ENV_PRJ_VARS[idx]}'"
done

export FLASK_APP='awsmgr.app'

which poetry >/dev/null || { echo "Install poetry!"; exit 1; }
POETRY_ENV=$(poetry env info --path 2>/dev/null)

if [ -d ${POETRY_ENV} ] && [ -f ${POETRY_ENV}/bin/activate ]; then
  . ${POETRY_ENV}/bin/activate
fi
